/node_modules
/public/hot
/public/storage
/storage/*.key
/vendor
/.assets
.env
.env.backup
.phpunit.result.cache
docker-compose.override.yml
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/.idea
/.vscode

/public/assets/images/brand_logos/*
!/public/assets/images/brand_logos/.gitkeep
/public/assets/images/categories/*
!/public/assets/images/categories/.gitkeep
/public/assets/images/posts/*
!/public/assets/images/posts/.gitkeep
/public/assets/images/products/*
!/public/assets/images/products/.gitkeep
/public/assets/images/shops/*
!/public/assets/images/shops/.gitkeep
/public/assets/images/slider/*
!/public/assets/images/slider/.gitkeep
